[
    {
        "name"          : "GTO",
        "url"           : "http://url/to/rss",
        "destination"   : "/home/neolao/downloads",
        "auth"          : 
        {
            "login"     : "neolao",
            "password"  : "foobar"
        }
    }
]